.mrp_repair_management_class [data-id="product_id"]  {min-width: 150px !important;}
.mrp_repair_management_class [data-id="name"]  {min-width: 300px !important;}
.mrp_repair_management_class [data-id="type"]  {min-width: 90px !important;}